@import './styles/typo.css';

:root {
    --primary-color: #f5f5f5;
    --secondary-color: #f5f5f5;
    --text-color: #fff;
    --linear-gradient: linear-gradient(80deg, #59F8D2 9%, rgba(116, 223, 221, 0.43) 31%, rgba(161, 180, 239, 0.54) 67%, rgba(202, 142, 255, 0.55) 100%);
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  font-family: 'Play', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container{
  max-width: 360px;
  margin: 0 auto;
  padding: 0 10px;
  background: url('/fon_mob_CRM.webp') no-repeat 0 0/cover;
}

.flex-sb{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.breadcrumbs{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

main{
  display: flex;
  flex-direction: column;
  row-gap: 75px;
  padding: 35px 0;
}

.proposal{
  background: url("line.webp") no-repeat -100px 0/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}



.neon-btn{
  outline:none;
  border: none;
  padding: 10px 40px;
  color: var(--text-color);
  font-family: "Play", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 1000px;
  background: linear-gradient(rgba(177, 149, 255), rgba(177, 149, 255)) padding-box,
  linear-gradient(200deg, #59F8D2 9%, rgba(116, 223, 221, 0.43) 31%, rgba(161, 180, 239, 0.54) 67%, rgba(202, 142, 255, 0.55) 100%) border-box;
  border: 2px solid transparent;
  position: relative;
  z-index: 1;
  box-shadow: 0px 0px 10px 0px #D795FF, -0px -0px 10px 0px #D795FF;
}

.grid-2x2{
  display: grid;
  grid-template-columns: repeat(2, auto);
  row-gap: 15px;
  padding-top: 20px;
}

.card-1{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;

}

