.pagecrm-social-media{
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}

.pagecrm-copyrights__text{
    font-size: 10px;
    line-height: 12px;
    text-align: center;
}

.pagecrm-footer-nav,
.pagecrm-contacts{
    display: none;
}