@import 'typo.css';
@import "reset.css";
@import 'header.css';
@import 'footer.css';


:root {
    --primary-color: #f5f5f5;
    --secondary-color: #f5f5f5;
    --text-color: #fff;
    --linear-gradient: linear-gradient(80deg, #59F8D2 9%, rgba(116, 223, 221, 0.43) 31%, rgba(161, 180, 239, 0.54) 67%, rgba(202, 142, 255, 0.55) 100%);
}

html {
    scroll-behavior: smooth;
}

body,
input,
select,
button {
    color: var(--text-color);
    font-family: 'Play', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}

.pagecrm-container {
    margin: 0 auto;
    padding: 0 10px;
}

.pagecrm {
    background: url('/images/fon_mob_CRM.webp') no-repeat 0 0/100% 100%;
    min-width: 320px;
    width: 100%;
    overflow-x: hidden;
    margin: 0 auto;
    padding-bottom: 75px;
}

.pagecrm-breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    font-size: 12px;
    padding: 12px 10px;

    a {
        position: relative;
        cursor: pointer;
    }

    a:not(:first-child) {
        padding-left: 20px;
    }

    a:not(:first-child):before {
        content: '>';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        font-size: 12px;
        width: 6px;
        height: 8px;
    }
}


.pagecrm-main {
    display: flex;
    flex-direction: column;
    row-gap: 75px;
    padding: 35px 0;
}

.pagecrm-fixed-block {
    position: fixed;
    right: 0;
    top: 220px;
    height: 94px;
    width: 48px;
    background: rgba(29, 1, 65, 0.3);
    padding: 13px 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 50;
}

.pagecrm-fixed-block:after {
    content: "";
    position: absolute;
    bottom: 50%;
    left: 3px;
    width: 90%;
    height: 1px;
    background: #ECECEC;
}

.pagecrm-btn-phone,
.pagecrm-btn-question {
    width: 38px;
    padding: 5px;
    height: 100%;
    background: url('/images/phone.svg') center 0px/ 20px 30px no-repeat;
    filter: drop-shadow(0px 0px 10.6176px #00FFE1) drop-shadow(0px 0px 3.0336px #00FFE1) drop-shadow(0px 0px 1.5168px #00FFE1);
}

.pagecrm-btn-question {
    background: url('/images/question.svg') center bottom/ 20px 30px no-repeat;
}

.pagecrm-proposal {
    background: url("/images/line.webp") no-repeat -100px 0/cover;
}

.pagecrm-section-layout,
.pagecrm-cases-container,
.pagecrm-example-container,
.pagecrm-cost-container,
.pagecrm-partners-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}

.pagecrm-section-layout,
.pagecrm-example-section {
    padding: 0 10px;
}


.pagecrm-neon-btn {
    outline: none;
    padding: 10px 40px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 1000px;
    background: linear-gradient(rgba(177, 149, 255), rgba(177, 149, 255)) padding-box,
    linear-gradient(200deg, #59F8D2 9%, rgba(116, 223, 221, 0.43) 31%, rgba(161, 180, 239, 0.54) 67%, rgba(202, 142, 255, 0.55) 100%) border-box;
    border: 2px solid transparent;
    position: relative;
    z-index: 1;
    transition: 0.3s all;
}

.pagecrm-neon-btn:hover,
.pagecrm-dark-btn:hover,
.pagecrm-small-btn:hover,
.pagecrm-wide-btn:hover,
.pagecrm-image-btn:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 10px #8BFFFF) drop-shadow(0px 0px 3px #8BFFFF);
    transition: 0.3s all;
}

.pagecrm-blur {
    filter: drop-shadow(0px 0px 5px #D795FF) drop-shadow(0px 0px 2px #D795FF);
}

.pagecrm-glow {
    filter: drop-shadow(0px 0px 35px #D795FF) drop-shadow(0px 0px 5px #D795FF) drop-shadow(0px 0px 2px #D795FF);

}


.grid-2x2 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    row-gap: 15px;
    padding-top: 20px;
}

.pagecrm-card-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
}

.pagecrm-example-card,
.pagecrm-cases-card {
    width: 100%;
    border-radius: 10px;
    background: linear-gradient(#480572, #480572) padding-box, linear-gradient(#9400FF, rgba(198, 79, 135, 0.83)) border-box;
    border: 1px solid transparent;
}

.pagecrm-card-list {
    padding: 10px;

    li {
        padding-top: 10px;
        font-size: 14px;
        line-height: 14px;

        &:before {
            content: url("/images/check.svg");
            width: 20px;
            height: 20px;
            padding-right: 20px;
        }
    }
}


.pagecrm-example-card__img {
    position: relative;
    max-width: 170px;
    width: 50%;
    float: left;
    margin-right: 10px;
}

.pagecrm-content,
.pagecrm-text-container {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.pagecrm-content {
    padding-top: 12px;
    align-items: center;
}

.pagecrm-text-container {
    row-gap: 10px;
}


.pagecrm-form-section {
    padding: 0 10px;
}

.pagecrm-form-section-layout {
    width: 100%;
    max-width: 652px;
    margin: 0 auto;
    background: linear-gradient(#480572, #480572) padding-box, linear-gradient(#9400FF, rgba(198, 79, 135, 0.83)) border-box;
    border: 2px solid transparent;
    border-radius: 32px;
    padding: 44px 16px;
}

.pagecrm-form {
    row-gap: 20px;

    p {
        text-align: center;
        line-height: 20px;
    }

    input,
    select {
        outline: none;
        width: 100%;
        padding: 16px 24px;
        border-radius: 10px;
        background: linear-gradient(#480572, #480572) padding-box, linear-gradient(300deg, #9400FF, rgba(198, 79, 135, 0.83)) border-box;
        border: 5px solid transparent;
    }
}

.pagecrm-form-section-2 {
    .pagecrm-form-section-layout {
        background: linear-gradient(#B77EFF, #B77EFF) padding-box, linear-gradient(32deg, #FFFFFF 0, #D795FF 52%, #7BC2FE 100%) border-box;
    }

    .pagecrm-form-image {
        display: none;
    }


    .pagecrm-form {
        row-gap: 17px;

        input,
        select {

            color: #fff;
            background: linear-gradient(#B77EFF, #B77EFF) padding-box, linear-gradient(32deg, #FFFFFF 0, #D795FF 52%, #7BC2FE 100%) border-box;
        }
    }
}

.pagecrm-form-section-3 {
    padding-bottom: 7px;
    background: url("/images/fon_section.webp") no-repeat 10px 100%/95% 50%;

    .pagecrm-title-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }


    p {
        padding: 0 30px;
    }

    .pagecrm-form-section-layout {
        width: 75%;
        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(200px);
        border-radius: 20px;
        padding: 22px 18px 11px;
    }

    .pagecrm-form {
        row-gap: 17px;

        input,
        select {
            padding: 4px 10px;
            border: rgba(10, 20, 47, 0.3) solid 1px;
            border-radius: 5px;
            color: #383838;
            background: rgba(255, 255, 255, 0.5);
        }
    }
}

.pagecrm-bordered-list {
    padding-top: 37px;
    width: 100%;
    font-size: 14px;
    line-height: 54px;

    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: #00FFB7 solid 1px;
        border-top: #00FFB7 solid 1px;
    }

    li:after {
        content: url("/images/arrow-list.svg");
        transform: translate(-50%, 20%);

    }
}

.pagecrm-dark-btn {
    background: linear-gradient(#1E0044, #1E0044) padding-box, linear-gradient(90deg, #383FEC, #23FFFF) border-box;
    border: 2px solid transparent;
    padding: 20px 35px;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 10px;
    transition: 0.3s all;
}

.pagecrm-small-btn {
    border-radius: 10px;
    padding: 8px 17px;
    font-size: 14px;
    letter-spacing: -1px;
    transition: 0.3s all;
}

.pagecrm-wide-btn {
    width: 100%;
    transition: 0.3s all;
}

.pagecrm-image-btn {
    margin: 10px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    padding: 20px 50px;
    transition: 0.3s all;

    &:after {
        content: '';
        display: block;
        width: 15px;
        height: 15px;
        color: #E9DEFF;
        background: url("/images/Arrow.svg") no-repeat center center/ contain;
    }
}


.pagecrm-helpfully.pagecrm-section-layout,
.pagecrm-section-cost.pagecrm-section-layout {
    row-gap: 45px;
}

.pagecrm-helpfully__list {
    align-self: start;
    padding: 14px 26px;
    position: relative;
}

.pagecrm-helpfully__list:before {
    content: '';
    position: absolute;
    inset: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: #B195FF;
    mask-image: linear-gradient(to right, #fff, transparent);
    -webkit-mask-image: linear-gradient(to right, #fff, transparent);
}

.pagecrm-helpfully__item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 13px 0;
    font-size: 14px;
    line-height: 20px;
}

.pagecrm-helpfully__item:before {
    content: url("/images/Checkbox.svg");
    width: 40px;
    height: 44px;
    padding-right: 30px;
}


.pagecrm-cases-card {
    border-radius: 30px;
    padding: 33px 33px 26px;
}


.pagecrm-img-container {
    background: linear-gradient(45deg, #1F0B32, #1D1B7A);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    padding: 25px 0px 15px;

    img {
        width: 120px;
        height: 120px;
        object-fit: cover;
        filter: drop-shadow(0px 0px 5px #D795FF) drop-shadow(0px 0px 2px #D795FF);
    }
}


.pagecrm-cost-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background: linear-gradient(45deg, #350789, #723DA6);
    border-radius: 15px;
    row-gap: 10px;
    padding: 19px 12px;
    align-items: start;
}

.pagecrm-cost-card__price {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 115px;
    align-items: center;
    background: rgba(158, 0, 255, 0.15);
    padding: 10px 16px 10px 10px;
    border-radius: 10px;

    span {
        text-wrap: nowrap;
        color: #D795FF;
    }
}

.pagecrm-map {
    width: 100%;
    /*height: 320px;*/
    border-radius: 10px;
    padding-top: 25px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /*border-radius: 10px;*/
    }
}

.pagecrm-modal-success-message,
.pagecrm-modal-form {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    transition: 0.3s left;
}

.pagecrm-modal-success-message-content,
.pagecrm-modal-form-content {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    border-radius: 20px;
    padding: 30px;
    background: linear-gradient(#634787, #634787) padding-box, linear-gradient(#383FEC, #23FFFF) border-box;
    border: 2px solid transparent;
    position: relative;
}

.pagecrm-success-icon {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: radial-gradient(#A174FF, #E1D3FF);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px #A174FF, 0 0 15px #A174FF, 0 0 30px #A174FF;

    img {
        filter: drop-shadow(0 0 10px #fff) drop-shadow(0 0 3px #fff);
    }
}

.pagecrm-close-btn {
    border: none;
    background: url("/images/close-btn.svg") center center no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 24px;
    top: 24px;

    &:hover {
        cursor: pointer;
        filter: drop-shadow(0 0 10px #fff) drop-shadow(0 0 3px #fff);
    }
}

.pagecrm-hidden {
    left: 100%;
    transition: 0.5s;
}

/*.pagecrm-section-contacts{*/
/*    display: block;*/
/*}*/


@media (min-width: 640px) {


}

@media (min-width: 980px) {
    .pagecrm {
        background: url('/images/fon_mob_CRM.webp') no-repeat 0 0/100% 100%;
    }

    .pagecrm-main {

        row-gap: 120px;
        padding: 100px 0;
    }

    h1 {
        font-size: 64px;
        line-height: 89px;
    }

    body,
    input,
    select,
    button {
        font-size: 20px;
        line-height: 24px;
    }

    .big-title {
        font-size: 32px;
        line-height: 40px;
        font-weight: bold;
    }

    .h1 {
        font-size: 45px;
        line-height: 89px;
        font-weight: bold;
    }

    .h2 {
        font-size: 36px;
        line-height: 40px;
    }

    .subtitle {
        font-size: 32px;
        line-height: 40px;
        font-weight: bold;
    }


    .pagecrm-section-layout {
        row-gap: 50px;
        padding: 0 100px;
    }

    /*.pagecrm-form-section-layout {*/
    /*    width: 652px;*/
    /*    padding: 44px 100px;*/
    /*}*/
    .pagecrm-logo {
        img {
            width: 274px;
        }
    }

    .pagecrm-breadcrumbs {
        padding: 120px 100px 20px;
    }


    .pagecrm-proposal {
        img {
            width: 705px;
            height: 580px;
            object-fit: cover;
        }

        background: url("/images/line.webp") no-repeat 0 0/100% 100%;
    }

    .pagecrm-neon-btn {
        padding: 20px 40px;
        font-size: 24px;
        border-radius: 20px;
    }

    .pagecrm-dark-btn {
        font-size: 20px;
        border-radius: 20px;
    }

    .grid-2x2 {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 20px;
    }


    .pagecrm-example-container,
    .pagecrm-cases-container,
    .pagecrm-cost-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        column-gap: 20px;
    }


    .pagecrm-cost-container {

        flex-wrap: wrap;
    }

    .pagecrm-cost-card {
        width: 49%;
        background: linear-gradient(45deg, #350789, #723DA6);
        border-radius: 15px;
        row-gap: 10px;
        padding: 19px 12px;
        align-items: start;
    }

    .pagecrm-cost-card__price {
        grid-template-columns: 1fr 200px;
        padding: 20px 20px 20px 20px;
        border-radius: 20px;

        span {
            text-wrap: nowrap;
            color: #D795FF;
        }
    }

    /*.pagecrm-cases-container{*/
    /*    padding: 0;*/
    /*}*/
    /*.pagecrm-img-container {*/
    /*    width: 40%;*/
    /*    !*min-width: 270px;*!*/
    /*    row-gap: 10px;*/
    /*    padding: 25px 0px 15px;*/
    /*    img {*/
    /*        width: 120px;*/
    /*        height: 120px;*/
    /*        object-fit: cover;*/
    /*        filter: drop-shadow(0px 0px 5px #D795FF) drop-shadow(0px 0px 2px #D795FF);*/
    /*    }*/
    /*    p{*/
    /*        font-size: 10px;*/
    /*        line-height: 20px;*/
    /*        font-weight: bold;*/
    /*    }*/
    /*}*/
    .pagecrm-helpfully.pagecrm-section-layout {
        row-gap: 90px;
    }

    .pagecrm-helpfully {
        background: url("/images/helpfully-bg.webp") no-repeat;
        background-position: right 100px bottom 0;
        background-size: 491px 614px;
        padding-bottom: 66px;
    }

    .pagecrm-helpfully__item {
        column-gap: 40px;
        font-size: 36px;
        line-height: 70px;
    }

    .pagecrm-helpfully__item:before {
        content: '';
        width: 90px;
        height: 100px;
        background: url("/images/Checkbox.svg") no-repeat 0 0/100% 100%;
    }

    .pagecrm-helpfully__text {
        max-width: 682px;
    }


    .pagecrm-example-card {
        border-radius: 20px;
    }

    /*pagecrm-example*/
    .pagecrm-example-card__img {
        max-width: 345px;
        height: 320px;
        object-fit: cover;
        border-bottom-left-radius: 20px 20px;
        border-top-left-radius: 20px 20px;
        margin-right: 20px;
    }

    .pagecrm-card-list {
        padding: 20px;

        li {
            padding-top: 20px;
            font-size: 20px;
            line-height: 20px;

            &:before {
                width: 28px;
                height: 28px;
            }
        }
    }

    .pagecrm-big-title{
        font-size: 48px;
    }

    .pagecrm-form-section-3 {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: end;
        padding-bottom: 110px;
        background: url("/images/fon_section.webp") no-repeat 10px 100%/95% 100%;

        .pagecrm-title-container{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;
            row-gap: 40px;
        }


        /*p {*/
        /*    padding: 0 30px;*/
        /*}*/

        .pagecrm-form-section-layout {
            width: 55%;
            max-width: 564px;
            backdrop-filter: blur(100px);
            padding: 50px 40px 44px;
        }

        .pagecrm-form {
            padding: 0;

            /*input,*/
            /*select {*/
            /*    padding: 4px 10px;*/
            /*    border: rgba(10, 20, 47, 0.3) solid 1px;*/
            /*    border-radius: 5px;*/
            /*    color: #383838;*/
            /*    background: rgba(255, 255, 255, 0.5);*/
            /*}*/
        }
    }
    .pagecrm-footer.pagecrm-section-layout{
        width: 100%;
        /*display: flex;*/
        /*flex-direction: row;*/
        /*justify-content: space-between;*/
        /*align-items: start;*/
        display: grid;
        grid-template-columns:  2fr 1fr 520px;
        gap:40px 0;
        /*grid-auto-rows: 100px;*/
    }

    .pagecrm-footer{
        .h2{
            padding-bottom: 36px;
            text-align: start;
        }
        .pagecrm-logo{
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }

        .pagecrm-map{
            grid-column: 3 / 4;
            grid-row: 1 / 3;
            padding-top: 0;
        }
        .pagecrm-copyrights{
            width: 100%;
            display: flex;
            /*justify-content: space-between;*/
            align-items: center;
            padding-top: 95px;
            column-gap: 110px;
        }
    }


    .pagecrm-footer-nav{
        display:block;
        font-size: 36px;
        font-weight: bold;
        .pagecrm-nav__list{
            flex-direction: column;
            align-items: start;
            font-weight: normal;
            gap:30px
        }
    }

    .pagecrm-contacts{
        display: block ;
        /*flex-direction: row;*/
        /*align-items: start;*/
        /*justify-content: space-between;*/
        /*column-gap: 20px;*/
    }

    .pagecrm-section-contacts{
        display: none;
    }






}

@media (min-width: 1400px) {
    .pagecrm-cases-card {
        width: 100%;
        display: flex;
        flex-direction: row;
        /*align-items: stretch;*/
        column-gap: 20px;
    }

    .pagecrm-cases-container {
        padding: 0;
    }

    .pagecrm-img-container {
        width: 40%;
        /*min-width: 270px;*/
        row-gap: 10px;
        padding: 25px 0px 15px;

        img {
            width: 120px;
            height: 120px;
            object-fit: cover;
            filter: drop-shadow(0px 0px 5px #D795FF) drop-shadow(0px 0px 2px #D795FF);
        }

        p {
            font-size: 10px;
            line-height: 20px;
            font-weight: bold;
        }
    }

    .pagecrm-content {
        align-items: start;
    }


    .pagecrm-form-section-2 {
        .pagecrm-form-section-layout {
            max-width: 912px;
            position: relative;
            background: linear-gradient(#B77EFF, #B77EFF) padding-box, linear-gradient(32deg, #FFFFFF 0, #D795FF 52%, #7BC2FE 100%) border-box;
            /*background: url("../public/images/form-image.webp") no-repeat 0 0/100% 100%;*/
        }

        .pagecrm-form-image {
            display: block;
            position: absolute;
            right: -150px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            /*width: 540px;*/
            /*height: 490px;*/
        }

        .pagecrm-form {
            width: 70%;
            row-gap: 17px;

            input,
            select {

                color: #fff;
                background: linear-gradient(#B77EFF, #B77EFF) padding-box, linear-gradient(32deg, #FFFFFF 0, #D795FF 52%, #7BC2FE 100%) border-box;
            }
        }
    }

    .pagecrm-partners-container {
        gap: 55px;
        flex-direction: row-reverse;

        img {
            width: 540px;
            height: 270px;
            object-fit: cover;
        }

    }

    .pagecrm-bordered-list {
        padding-top: 0;
        font-size: 36px;
        line-height: 135px;

        /*li {*/
        /*    display: flex;*/
        /*    justify-content: space-between;*/
        /*    align-items: center;*/
        /*    border-bottom: #00FFB7 solid 1px;*/
        /*    border-top: #00FFB7 solid 1px;*/
        /*}*/

        li:after {
            content: url("/images/arrow-list.svg");
            transform: translate(0, 0);

        }
    }


}
